*{
    padding: 0;
    margin:0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
}

.header{
    background-color: #f6f6fc;

}
  .h-screen{
    background: #f6f6fc;
    
}
}
footer {
    background: #020530;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}
.footer-section {
    margin: 10px;
    position: relative;
    width: 250px;
}
.footer-section a {
    color: #ffcc00;
    text-decoration: none;
}
.footer-bottom {
    margin-top: 15px;
    font-size: 14px;
}
@media (max-width: 412px){
   .checkbtn{
        display: block;
    }
   

        footer {
        background: #020530;
        color: white;
        text-align: center;
        padding: 20px 0;
    }
    .footer-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 412px;
        margin: auto;
    }
    .footer-section {
        margin: 10px;
        
    }
    .footer-section a {
        color: #ffcc00;
        text-decoration: none;
    }
    .footer-bottom {
        margin-top: 15px;
        font-size: 14px;
    }
    

}


